.notification-box {
  padding: 20px;
  border-bottom: 1px solid #1e1e1e;
  cursor: pointer;
  .top-area {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
  }
  .content-area {
    margin-top: 20px;
  }
}
