.loader-cover {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.2em;
  margin: 0;
  background-color: #f0f0f0;
  width: 100%;
}
.loader {
  width: 100px;
  height: 30px;
}
.pill {
  fill: #fff;
  stroke: #0b6be9;
  stroke-width: 3;
  animation: pulse 1.5s infinite alternate;
}
.line {
  stroke: #0b6be9;
  stroke-width: 3;
  stroke-linecap: round;
  stroke-dasharray: 30;
  stroke-dashoffset: 30;
  animation: draw 1.5s infinite alternate;
}
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}
@keyframes draw {
  0% {
    stroke-dashoffset: 30;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
.site-loader-cover {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  margin: 0;
  background-color: #ffffff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
  .loader {
    width: 200px;
    height: 50px;
  }
}

.lds-ring,
.lds-ring div {
  box-sizing: border-box;
}
.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid currentColor;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: currentColor transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
